<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Gimnasio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="header">
    <ul class="nav-menu">
        <li><a th:href="@{/}" >Inicio</a></li>
        <li><a th:href="@{/listar}">Contactos</a></li>
        <li>
            <a href="#">Servicios</a>
            <ul class="dropdown">
                <li><a href="inscripcion">Inscripción</a></li>
                <li><a href="cursos">Cursos</a></li>
                <li><a href="maquinas">Máquinas</a></li>
                <li><a href="instructores">Instructores</a></li>
            </ul>
        </li>
        <li th:if="${session.usuario == null}" ><a th:href="@{/login}">Ingreso</a></li>
        <li th:if="${session.usuario != null}"><a th:href="@{/logout}">Logout</a></li>

    </ul>
</div>


<div class="background-img"></div>
<div class="content">
    <div class="gym-logo">
        <img src="/images/gimnasio-logo.png" alt="Logo Gimnasio" />
    </div>

    <div class="bg-white">
        <h1>Usuarios</h1>
        <table class = "table">
            <tr>
                <th scope="col" >ID</th>
                <th scope="col" >Nombre</th>
                <th scope="col" >Cédula</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.cedula}"></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>