<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Gimnasio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<div class="header">
    <ul class="nav-menu">
        <li><a th:href="@{/}" >Inicio</a></li>
        <li><a th:href="@{/listar}">Contactos</a></li>
        <li>
            <a href="#">Servicios</a>
            <ul class="dropdown">
                <li><a href="inscripcion">Inscripción</a></li>
                <li><a href="cursos">Cursos</a></li>
                <li><a href="maquinas">Máquinas</a></li>
                <li><a href="instructores">Instructores</a></li>
            </ul>
        </li>
        <li th:if="${session.usuario == null}" ><a th:href="@{/login}">Ingreso</a></li>
        <li th:if="${session.usuario != null}"><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>


<div class="background-img"></div>
<div class="content">
    <div class="gym-logo">
        <img src="/images/gimnasio-logo.png" alt="Logo Gimnasio" />
    </div>

    <div class="content">
        <h1>Detalles del Gimnasio</h1>
        <p>Nombre: <span th:text="${gimnasio.nombre}"></span></p>
        <p>Dirección: <span th:text="${gimnasio.direccion}"></span></p>
        <p>Horario: <span th:text="${gimnasio.horario}"></span></p>
        <p>Teléfono: <span th:text="${gimnasio.telefono}"></span></p>
        <p>Correo: <span th:text="${gimnasio.correo}"></span></p>
    </div>
</div>


</body>
</html>