<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Gimnasio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<div class="header">
    <ul class="nav-menu">
        <li><a href="inicio">Inicio</a></li>
        <li><a href="contactos">Contactos</a></li>
        <li>
            <a href="#">Servicios</a>
            <ul class="dropdown">
                <li><a href="inscripcion">Inscripción</a></li>
                <li><a href="cursos">Cursos</a></li>
                <li><a href="maquinas">Máquinas</a></li>
                <li><a href="instructores">Instructores</a></li>
            </ul>
        </li>
        <li><a href="Login">Ingreso</a></li>
    </ul>
</div>
<div class="background-img"></div>
<div class="content">
    <div class="gym-logo">
        <img src="/images/gimnasio-logo.png" alt="Logo Gimnasio" />
    </div>
</div>

</body>
</html>