<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<div class="header">
    <ul class="nav-menu">
        <li><a th:href="@{/}" >Inicio</a></li>
        <li><a th:href="@{/listar}">Contactos</a></li>
        <li>
            <a href="#">Servicios</a>
            <ul class="dropdown">
                <li><a href="inscripcion">Inscripción</a></li>
                <li><a href="cursos">Cursos</a></li>
                <li><a href="maquinas">Máquinas</a></li>
                <li><a href="instructores">Instructores</a></li>
            </ul>
        </li>

    </ul>
</div>
<div class="background-img"></div>
<div class="content">
    <div class="gym-logo">
        <img src="/images/gimnasio-logo.png" alt="Logo Gimnasio" />
    </div>

    <div class="login-container">
        <h2 class="login-title">Ingresar</h2>
        <form class="login-form" th:action="@{/login}" method="post" >

            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" name="cedula" required><br>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required><br>

            <button type="submit">Entrar</button>
        </form>

        <div th:if="${error}">
            <p style="color: red;">Cédula o contraseña incorrecta. Inténtelo de nuevo.</p>
        </div>
    </div>


</div>

</body>
</html>